<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>

    <!-- This is the STYLE for the HEADER -->
    <!-- w3school AND https://code.jquery.com/ -->
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        $(document).ready(function () {
            $('#icon').click(function () {
                $('ul').toggleClass('show');
            });
        });
    </script>



    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Data Table -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src=https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js></script>


    <script src=../../media/js/jquery.dataTables.js></script>

    <link href="/static/rowSeleted.css" rel="stylesheet" />

    <script src="/static/main.js"></script>








</head>


<body>

    <nav>
        <label class="logo">Live Search Engine</label>
        <ul>
            <div class="active">
                <li><a href="\">Home</a></li>
                <li><a href="\contact">Contact</a></li>
                <li><a href="\about">About</a></li>
                <li><a href="\search">Search</a></li>
            </div>
        
        </ul>
        <!-- 3 bars Right Side -->
        <label id="icon">
            <i class="fas fa-bars"></i>
        </label>
    </nav>
    <section></section>


    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content">
                    <h1>Contact UCM </h1>
                    <p>
                        Student in CSE 120
                        -------
                    </p>
                </div>
            </header>
        </div>
    </div>



</body>

</html>