<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Merch Search. </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" />
</head>

<body>
    <div class="search-box">
        <input type="text" placeholder="Search here..." />
    </div>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    MerchSearch
                </div>

                <ul class="nav-items">
                    <li>
                        <a href="home.html">Home</a>
                    </li>

                    <li>
                        <a href="library.html">Libary</a>
                    </li>

                    <li>
                        <a href="about.html">About</a>
                    </li>

                    <li>
                        <a class="nav-btn-container" href="#">
                            <img class="search-btn" src="images/search-icon.svg" alt="" />
                            <img class="close-btn" src="images/close-icon.svg" alt="" />
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

            <div class="header-container ">
                <div class="wrapper">
                  <header>
                    <div class="hero-content">
                      <h1>Library</h1>
                      <p>
                        Will be change later
                      </p>
                    </div>
                  </header>
          
                  <div class="social-icons">
                    <a href="home.html">Show</a>
                    <a href="#h">Hide</a>
                    <a href="#m">Merge</a>
                    <a href="#ns">New Search</a>
                  </div>
                </div>
            </div>

    <script src="/static/main.js"></script>
</body>

</html>