<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>

    <style>
        h1 {
            text-align: center;
        }
    </style>

    <!-- This is the STYLE for the HEADER -->
    <!-- w3school AND https://code.jquery.com/ -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <!-- Data Table -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

    <!--<script src=../../media/js/jquery.dataTables.js></script>-->
    <!--<script src="/media/js/jquery.dataTables.js"></script>-->

    <link href="/static/rowSeleted.css" rel="stylesheet" />

    <!--<script src="/static/main.js"></script>-->

    <script>
        $(document).ready(function () {
            $('#icon').click(function () {
                $('ul').toggleClass('show');
            });
        });
    </script>

</head>

<body>

    <nav>
        <label class="logo">Live Search Engine</label>
        <ul>
            <div class="active">
                <li><a href="\">Home</a></li>
                <li><a href="\contact">Contact</a></li>
                <li><a href="\about">About</a></li>
                <li><a href="\search">Search</a></li>
            </div>

        </ul>
        <!-- 3 bars Right Side -->
        <label id="icon">
            <i class="fas fa-bars"></i>
        </label>
    </nav>
    <!-- <section></section> -->

    <br /><br />
    <div id='Original'>
        <table id="example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>yearSemester</th>
                    <th>class</th>
                    <th>teamNumber</th>
                    <th>teamName</th>
                    <th>projectTitle</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>


    <div id='fisrtClick'>
        <table id="first" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>yearSemester</th>
                    <th>class</th>
                    <th>teamNumber</th>
                    <th>teamName</th>
                    <th>projectTitle</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
    <script> $('#fisrtClick').hide(); </script>

    <div id='secondClick'>
        <table id="second" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>yearSemester</th>
                    <th>class</th>
                    <th>teamNumber</th>
                    <th>teamName</th>
                    <th>projectTitle</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
    <script> $('#secondClick').hide();</script>

    <div id='thirdClick'>
        <table id="third" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>yearSemester</th>
                    <th>class</th>
                    <th>teamNumber</th>
                    <th>teamName</th>
                    <th>projectTitle</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
    <script> $('#thirdClick').hide();</script>

    <div id='mergeClick'>
        <h1>Merged Results:</h1>
        <table id="mergeTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>yearSemester</th>
                    <th>class</th>
                    <th>teamNumber</th>
                    <th>teamName</th>
                    <th>projectTitle</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
    <script> $('#mergeClick').hide();</script>


    <div class="social-icons">
        <button class="hide" id='hide'>Hide Row</button>

        <button type="button" id='undo'>Undo Hide</button>

        <button class="show" id='show'>Show Row</button>

        <button class="merge" id='merge'>Merge</button>

        <!--<button class="newsearch" id='newsearch'>New Search</button> -->
        <button class="newsearch" onClick="onClick()">New Search</button>
        <div id='numClicked'>
            <p>Clicks: <a id="clicks">0</a></p>
        </div>
        <script> $('#numClicked').hide();</script>
        <!--<button onclick="myFunction()">New Search</button>-->

        <button class="Delete localstorage" onclick="deleteData()">Delete Changes</button>

    </div>


</body>

</html>

<script>
    var fullMerge;
    $(function () {
        var storedValues;

        if (localStorage.getItem('fullMerge')) {
            $('#Original').hide();
            $('#mergeClick').show();
            $('#merge').hide();
            $('#hide').hide();
            $('#undo').hide();
            $('#show').hide();
            $('.newsearch').hide();

            storedValues = JSON.parse(localStorage.getItem('fullMerge'));

            mmTable = $('#mergeTable').DataTable({
                data: storedValues
            });
        }
        else {

            var projects = [];
            $.getJSON("http://127.0.0.1:5500/CSVdata.json", function (data) {
                $.each(data.projects, function (i, f) {
                    var tblRow = '<tr>' + '<td>' + f.yearSemester + '</td>' + '<td>' + f.class + '</td>' + '<td>' + f.teamNumber + '</td>' + '<td>' + f.teamName + '</td>' + '<td>' + f.projectTitle + '</tr>'
                    //$(tblRow).appendTo("#example tbody");
                    $(tblRow).appendTo("table tbody");

                });

                var oTable;
                var mmTable;

                oTable = $('#example').DataTable({
                    stateSave: true,
                });

                oTable1 = $('#first').DataTable({
                    stateSave: true,
                });

                oTable2 = $('#second').DataTable({
                    stateSave: true,
                });

                oTable3 = $('#third').DataTable({
                    stateSave: true,
                });


                mmTable = $('#mergeTable').DataTable({
                    stateSave: true,
                });

                /* Add a click handler to the rows - this could be used as a callback */
                //$("#example tbody tr").click(function (e) {
                $("table tbody tr").click(function (e) {
                    if ($(this).hasClass('row_selected')) {
                        $(this).removeClass('row_selected');
                    }
                    else {
                        oTable.$('tr.row_selected')
                        $(this).addClass('row_selected');
                    }
                });

                $('#hide').click(function () {
                    //var anSelected = fnGetSelected(oTable);
                    $(".row_selected,.temp").hide();

                });

                $('#undo').click(function () {
                    //var anSelected = fnGetSelected(oTable);
                    $(".row_selected,.temp").show();
                });

                $('#show').click(function () {
                    //var anSelected = fnGetSelected(oTable);
                    $("tr:not(.row_selected,.temp)").hide();
                });

                $('#merge').click(function () {
                    $('#mergeClick').show();
                    var selectedData;
                    var secData;
                    var thData;
                    var fivData;

                    if (clicks == 0) {
                        selectedData = oTable.rows('.row_selected,.temp').data().toArray();
                    }

                    if (clicks == 1) {
                        selectedData = oTable.rows('.row_selected,.temp').data().toArray();
                        secData = oTable1.rows('.row_selected,.temp').data().toArray();
                        fullMerge = selectedData.concat(secData);

                        mmTable.destroy();
                        mmTable = $('#mergeTable').DataTable({
                            data: fullMerge
                        });

                        //if (!localStorage.getItem('fullMerge')) {
                        localStorage.setItem('fullMerge', JSON.stringify(fullMerge));
                        //}

                        storedValues = JSON.parse(localStorage.getItem('fullMerge'));
                        console.log(storedValues);


                    }

                    if (clicks == 2) {
                        selectedData = oTable.rows('.row_selected,.temp').data().toArray();
                        secData = oTable1.rows('.row_selected,.temp').data().toArray();
                        fullMerge = selectedData.concat(secData);
                        thData = oTable2.rows('.row_selected,.temp').data().toArray();
                        fullMerge = fullMerge.concat(thData);

                        mmTable.destroy();
                        mmTable = $('#mergeTable').DataTable({
                            data: fullMerge
                        });

                        localStorage.setItem('fullMerge', JSON.stringify(fullMerge));
                        storedValues = JSON.parse(localStorage.getItem('fullMerge'));
                        console.log(storedValues);
                    }

                    if (clicks == 3) {
                        selectedData = oTable.rows('.row_selected,.temp').data().toArray();
                        secData = oTable1.rows('.row_selected,.temp').data().toArray();
                        fullMerge = selectedData.concat(secData);
                        thData = oTable2.rows('.row_selected,.temp').data().toArray();
                        fullMerge = fullMerge.concat(thData);
                        fivData = oTable3.rows('.row_selected,.temp').data().toArray();
                        fullMerge = fullMerge.concat(fivData);

                        mmTable.destroy();
                        mmTable = $('#mergeTable').DataTable({
                            data: fullMerge
                        });
                    }

                    localStorage.setItem('fullMerge', JSON.stringify(fullMerge));
                    storedValues = JSON.parse(localStorage.getItem('fullMerge'));
                    console.log(storedValues);

                });

                //Get the rows which are currently selected 
                function fnGetSelected(oTableLocal) {
                    return oTableLocal.$('tr.row_selected');
                }

            });
        }
    });


</script>

<script>

    function deleteData() {
        localStorage.clear()
        location.reload(true);
    }

    var clicks = 0;
    function onClick() {
        clicks++;
        document.getElementById("clicks").innerHTML = clicks;

        if (clicks == 1) {
            $('#fisrtClick').show();
            $('table.display').DataTable();
            //$('#first').DataTable();
            console.log("It worked!");
        }

        if (clicks == 2) {
            $('#secondClick').show();
            console.log("second worked!");
        }

        if (clicks == 3) {
            $('#thirdClick').show();
            console.log("third worked!");
        }
    };

</script>
